header {
	padding: 5px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 55%;
      margin: auto;
}

.footerleft {
    text-align: left;
}
.footerright {
    text-align: right;
}
h4,
h3 {
    text-align: center;
}
.infoPanel {
    width: 55%;
    margin: 0 auto; 
}
@media screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .infoPanel {
        height: 500px;
    }
}

@media screen 
and (min-width : 481px) 
and (max-width : 800px) {
    .infoPanel {
        height: 450px;
    }
}
@media screen 
and (min-width : 801px) 
and (max-width : 1200px) {
    .infoPanel {
        height: 350px;
    }
}
@media screen 
and (min-width : 1201px) {
    .infoPanel {
        height: 300px;
    }
}
